/* =========================
   GLOBAL
========================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  /* SAME FONT */
  font-family:
  "Poppins",
  Arial,
  sans-serif;
}

body{
  background:#f6f7fb;
 
}

/* =========================
   DASHBOARD
========================= */

.dashboard{
  display:flex;
}

/* =========================
   SIDEBAR
========================= */

.sidebar{

  width:260px;

  height:100vh;

  background:#fff;

  border-right:1px solid #ececec;

  padding:14px 12px;

  position:fixed;

  top:0;
  left:0;

  display:flex;

  flex-direction:column;

  overflow-y:auto;

  overflow-x:hidden;
}

/* =========================
   SMALL SCROLLBAR
========================= */

.sidebar::-webkit-scrollbar{
  width:4px;
}

.sidebar::-webkit-scrollbar-thumb{

  background:#d6d6d6;

  border-radius:20px;
}

.sidebar::-webkit-scrollbar-track{
  background:transparent;
}

/* =========================
   LOGO
========================= */

.logo{

  display:flex;

  align-items:center;

  gap:10px;

  margin-bottom:14px;
}

/* IMAGE */

.logo-img{

  width:50px;
  height:50px;

  object-fit:contain;
}

/* TITLE */

.logo h2{

  color:#6b3f1d;

  font-size:22px;

  font-weight:700;

  line-height:1;
}

.logo span{

  color:#b08968;

  font-size:9px;

  letter-spacing:2px;
}

/* =========================
   MENU
========================= */

.menu{

  list-style:none;

  flex:1;
}

.menu li{
  margin-bottom:2px;
}

/* MENU LINK */

.menu li a{

  display:flex;

  align-items:center;

  gap:10px;

  padding:9px 12px;

  border-radius:10px;

  text-decoration:none;

  color:#333;

  font-size:13px;

  font-weight:500;

  transition:0.3s;
}

/* ICON */

.menu li a i{

  width:18px;

  font-size:15px;
}

/* ACTIVE */

.menu li.active a{

  background:linear-gradient(
  135deg,
  #5b3716,
  #3d2410
  );

  color:#fff;

  box-shadow:0 5px 14px rgba(91,55,22,0.20);
}

/* HOVER */

.menu li a:hover{
  background:#f5f5f5;
}

/* ORDER COUNT */

.menu li a small{

  margin-left:auto;

  background:#f8e6d8;

  color:#7b4a24;

  padding:3px 8px;

  border-radius:20px;

  font-size:10px;

  font-weight:700;
}

/* =========================
   PRODUCTS DROPDOWN
========================= */

.dropdown-menu{
  margin-bottom:2px;
}

/* BUTTON */

.dropdown-btn{

  display:flex;

  align-items:center;

  justify-content:space-between;

  padding:9px 12px;

  border-radius:10px;

  cursor:pointer;

  transition:0.3s;

  color:#333;

  font-size:13px;

  font-weight:500;
}

.dropdown-btn:hover{
  background:#f5f5f5;
}

/* LEFT */

.left-side{

  display:flex;

  align-items:center;

  gap:10px;
}

/* ICON */

.left-side i{
  font-size:15px;
}

/* TEXT */

.left-side span{
  font-size:13px;
}

/* ARROW */

.arrow{

  font-size:10px;

  transition:0.3s;
}

.arrow.rotate{
  transform:rotate(180deg);
}

/* SUBMENU */

.submenu{

  list-style:none;

  max-height:0;

  overflow:hidden;

  transition:0.4s ease;
}

/* SHOW */

.submenu.show{
  max-height:120px;
}

/* SUBMENU ITEMS */

.submenu li{
  margin-top:2px;
}

.submenu li a{

  display:flex;

  align-items:center;

  gap:8px;

  text-decoration:none;

  color:#555;

  padding:8px 14px 8px 40px;

  border-radius:8px;

  font-size:12px;

  transition:0.3s;
}

.submenu li a:hover{
  background:#f7f7f7;
}

.submenu li a i{
  font-size:11px;
}

/* =========================
   USER ROLE SPACE FIX
========================= */

.menu li:last-child{
  margin-bottom:18px;
}

/* =========================
   HELP BOX
========================= */

.help-box{

  background:#fafafa;

  border:1px solid #ececec;

  border-radius:14px;

  padding:12px;

  display:flex;

  align-items:center;

  gap:10px;

  margin-bottom:8px;
}

/* HELP ICON */

.help-icon{

  width:40px;
  height:40px;

  border-radius:10px;

  background:#fff;

  display:flex;

  justify-content:center;
  align-items:center;
}

.help-icon i{

  font-size:16px;

  color:#5b3716;
}

/* HELP TEXT */

.help-box h4{

  font-size:12px;

  margin-bottom:2px;

  color:#222;
}

.help-box p{

  color:#888;

  font-size:10px;
}

/* =========================
   MAIN
========================= */


/* =========================
   WELCOME
========================= */

.welcome-box{
  text-align:center;
}

.welcome-box h1{

  font-size:52px;

  color:#222;

  margin-bottom:10px;

  font-weight:700;
}

.welcome-box p{

  color:#777;

  font-size:18px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px){

  .sidebar{

    width:80px;

    padding:16px 8px;
  }

  .logo h2,
  .logo span,
  .menu li a span,
  .menu li a small,
  .help-box,
  .arrow{
    display:none;
  }

  .menu li a,
  .dropdown-btn{
    justify-content:center;
  }

  .main{

    margin-left:80px;

    width:calc(100% - 80px);
  }

  .welcome-box h1{
    font-size:30px;
  }

  .welcome-box p{
    font-size:13px;
  }
}

/* ARROW */

.arrow{
  transition:0.3s;
}

.arrow.rotate{
  transform:rotate(180deg);
}

/* =========================
   MAIN
========================= */

.main{

  margin-left:260px;

  width:calc(100% - 260px);

  padding:28px;
}

/* =========================
   TOP BAR
========================= */
.top-bar{

  display:grid;

  grid-template-columns:70% 30%;

  align-items:center;

  gap:20px;

  margin-bottom:24px;
}

.top-bar h1{

  font-size:34px;

  margin-bottom:5px;
}

.top-bar p{

  color:#777;

  font-size:14px;
}

/* ACTIONS */

.top-actions{

  display:flex;

  gap:12px;
}

.cancel-btn{

  padding:12px 18px;

  border:none;

  border-radius:10px;

  background:#eee;

  cursor:pointer;
}

.save-btn{

  padding:12px 20px;

  border:none;

  border-radius:10px;

  background:#5b3716;

  color:#fff;

  cursor:pointer;
}

/* =========================
   PRODUCT GRID
========================= */

.product-grid{

  display:grid;

  grid-template-columns:2fr 1fr;

  gap:24px;
}

/* =========================
   CARD
========================= */

.card{

  background:#fff;

  border-radius:18px;

  padding:24px;

  margin-bottom:24px;

  box-shadow:0 2px 10px rgba(0,0,0,0.04);
}

.card h3{

  margin-bottom:20px;

  font-size:20px;
}

/* GRID */

.grid-2{

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:18px;
}

.grid-3{

  display:grid;

  grid-template-columns:1fr 1fr 1fr;

  gap:12px;
}

/* FORM */

.form-group{
  margin-bottom:18px;
}

.form-group label{

  display:block;

  margin-bottom:8px;

  font-size:14px;

  font-weight:500;
}

.form-group input,
.form-group select,
.form-group textarea{

  width:100%;

  padding:14px;

  border:1px solid #ddd;

  border-radius:12px;

  outline:none;

  font-size:14px;

  transition:0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{

  border-color:#5b3716;
}

/* TEXTAREA */

textarea{

  resize:none;

  height:100px;
}

.big-textarea{
  height:180px;
}

/* =========================
   IMAGE UPLOAD
========================= */

.upload-box{

  border:2px dashed #ddd;

  border-radius:16px;

  padding:30px;

  text-align:center;
}

.preview-img{

  width:130px;
  height:130px;

  object-fit:cover;

  border-radius:14px;

  margin-top:20px;

  display:none;
}

/* =========================
   SWITCH
========================= */

.switch-row{

  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-top:18px;
}

.switch{

  position:relative;

  width:50px;
  height:26px;
}

.switch input{
  display:none;
}

.slider{

  position:absolute;

  top:0;
  left:0;
  right:0;
  bottom:0;

  background:#ccc;

  border-radius:30px;

  cursor:pointer;

  transition:0.3s;
}

.slider::before{

  content:"";

  position:absolute;

  width:20px;
  height:20px;

  left:3px;
  top:3px;

  background:#fff;

  border-radius:50%;

  transition:0.3s;
}

.switch input:checked + .slider{

  background:#5b3716;
}

.switch input:checked + .slider::before{

  transform:translateX(24px);
}


#editor{
  height:220px;
  background:#fff;
  border-radius:12px;
}
.upload-box{
  border:2px dashed #ddd;
  border-radius:16px;
  padding:30px;
  text-align:center;
}

.browse-btn{
  display:inline-block;
  margin-top:15px;
  padding:12px 22px;
  background:#5b3716;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
}

#previewContainer{
  display:flex;
  gap:12px;
  flex-wrap:wrap;
  margin-top:20px;
}

.preview-image{
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:12px;
  border:1px solid #ddd;
}

.upload-box p{

  margin-top:14px;

  font-size:15px;

  color:#777;

  font-weight:500;

  letter-spacing:0.3px;

}
/* =========================
   RESPONSIVE
========================= */

@media(max-width:992px){

  .product-grid{
    grid-template-columns:1fr;
  }

}

@media(max-width:768px){

  .sidebar{
    width:80px;
  }

  .logo h2,
  .logo span,
  .menu li a span,
  .arrow{
    display:none;
  }

  .menu li a,
  .dropdown-btn{
    justify-content:center;
  }

  .main{

    margin-left:80px;

    width:calc(100% - 80px);

    padding:16px;
  }

  .grid-2,
  .grid-3{
    grid-template-columns:1fr;
  }

  .top-bar{

    flex-direction:column;

    align-items:flex-start;

    gap:16px;
  }

  .top-actions{

    width:100%;

    flex-direction:column;
  }

  .cancel-btn,
  .save-btn{
    width:100%;
  }

}

@media(max-width:600px){

  .main{
    padding:12px;
  }

  .card{
    padding:18px;
  }

  .top-bar h1{
    font-size:26px;
  }

}
.description p,
.description ul,
.description ol,
.description li,
.description span{

background:transparent !important;

}
.buy-now-btn{

border:none !important;

outline:none !important;

box-shadow:none !important;

}
.description *{

background:none !important;

color:#fff !important;

}